.drawing_container{
    position: relative;
    left: 27.5%;
        
}
.seat{
    position: absolute;
}
.product_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.product_img{
    width: 15rem;
}
.product_container{
    display: flex;
}
.c_product_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.c_product_container{
    display: flex;
}